<div
  class="container-fluid cover mb-4 d-flex flex-column justify-content-center align-items-center shadow"
  style="background-image: url('assets/img/cover_default.jpg')"
>
  <div class="d-flex justify-content-center ">
    <div class="avatar mx-5"  style="background-image: url('assets/img/default_avatar.jpeg')">

      <button class="btn-edit-avatar rounded-circle">
        <i class="fa-solid fa-pen"></i>
      </button>

    </div>

    <div class="d-flex justify-content-center  flex-column">
    <div class="name shadow">
      {{ "name" | me }}
    </div>
    <div class="job shadow">Web Developer</div>
  </div>
  </div>

  <button class="btn-edit-cover rounded">
    <i class="fa-regular fa-image"></i>
  </button>
</div>

<div class="container mb-5 pb-5">
  <div class="row mb-3">
    <div class="col">
      <div class="card rounded shadow p-3">
        <div class="row">
          <div class="col-4">
            <h3>Seus dados públicos</h3>
            LLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            euismod magna sapien, nec congue nibh eleifend sit amet. Sed commodo
            nisl id finibus consequat
          </div>
          <div class="col-8">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Nome</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Login</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email</label>
            </div>

            <div class="mt-1 border-top pt-3">
              <button class="btn btn-outline-secondary">
                Atualizar seus dados
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="card rounded shadow p-3">
        <div class="row">
          <div class="col-4">
            <h3>Alterar senha</h3>
            LLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            euismod magna sapien, nec congue nibh eleifend sit amet. Sed commodo
            nisl id finibus consequat
          </div>
          <div class="col-8">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Senha atual</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Nova senha</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Confirmar senha</label>
            </div>

            <div class="mt-1 border-top pt-3">
              <button class="btn btn-outline-secondary">
                Atualizar sua senha
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
