@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./bootstrap.min.css";
@import "./_variables/colors.scss";

body {
  background: $body-back-color;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
