<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand rounded-circle" routerLink="/"><img class="rounded-circle" src="/assets/img/logo.svg" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li><a class="dropdown-item mx-1" routerLink="/meus-dados">Meus Dados</a></li>
        <li><a class="dropdown-item mx-1" routerLink="/auth/logout">Logout</a></li>

      </ul>

    </div>
  </div>
</nav>


<router-outlet></router-outlet>

