<div class="container">

  <!-- login -->
  <div class="card border-0 bg-transparent h-100" *ngIf="screen" @fadeIn>

    <div class="header" style="min-height: 100px;">
        <img src="./assets/img/logo.svg" width="30%" class="rounded-circle shadow">
    </div>

    <div class="body">

      <form [formGroup]="formLogin" (submit)="onLoginFormSubmit()">

        <div class="mb-5">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder=" " formControlName="login">
            <label for="">Login</label>
            <small class="text-white bg-danger rounded p-1"
              *ngIf="formLogin.controls['login'].invalid && (formLogin.controls['login'].touched || formLogin.controls['login'].dirty)">
              Login é obrigatório
            </small>
          </div>


          <div class="mb-3">
            <div class="input-group">
              <div class="form-floating">
                <input [type]="seepass" class="form-control" placeholder=" " formControlName="password">
                <label for="">Senha</label>
              </div>
              <button type="button" class="input-group-text" (click)="seePassword()" (mouseleave)="seePassword(true)">
                <i [ngClass]="{'fa-eye-low-vision':seepass=='text','fa-eye':seepass=='password'}" class="fa-solid"></i>
              </button>
            </div>
            <small class="text-white bg-danger rounded p-1"
              *ngIf="formLogin.controls['password'].invalid && (formLogin.controls['password'].touched || formLogin.controls['password'].dirty)">
              Senha é obrigatória
            </small>
          </div>

        </div>

        <div class="w-100">
          <button class="btn btn-dark w-100 py-3" type="submit" [disabled]="!formLogin.valid">Acessar</button>
        </div>

      </form>


    </div>

    <div class="footer">
      <div class="options">
        <button class="btn btn-outline-secondary border-0" disabled>Esqueceu sua senha?</button>
        <button class="btn btn-outline-secondary border-0" (click)="changeScreen()">Não tem cadastro?</button>
      </div>
    </div>

  </div>


  <!-- new register -->
  <div class="card border-0 bg-transparent h-100" *ngIf="!screen" @fadeIn>

    <div class="header">
      <div class="d-flex justify-content-center flex-column align-items-center">
        <img src="./assets/img/logo.svg" width="20%" class="rounded-circle shadow">
        <!-- <div class="h4">Pré-cadastro</div> -->
      </div>
    </div>

    <div class="body">

      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" ">
        <label for="">Nome</label>
      </div>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder=" ">
        <label for="">Email</label>
      </div>


      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder=" ">
        <label for="">Login</label>
      </div>


      <div class="input-group mb-3">
        <div class="form-floating">
          <input [type]="seepass" class="form-control" placeholder=" ">
          <label for="">Senha</label>
        </div>
        <button type="button" class="input-group-text" (click)="seePassword()" (mouseleave)="seePassword(true)">
          <i [ngClass]="{'fa-eye-low-vision':seepass=='text','fa-eye':seepass=='password'}" class="fa-solid"></i>
        </button>
      </div>

      <div class="input-group mb-3">
        <div class="form-floating">
          <input [type]="seepass_confirm" class="form-control" placeholder=" ">
          <label for="">Confirmar senha</label>
        </div>
        <button type="button" class="input-group-text" (click)="seePasswordConfirm()" (mouseleave)="seePasswordConfirm(true)">
          <i [ngClass]="{'fa-eye-low-vision':seepass_confirm=='text','fa-eye':seepass_confirm=='password'}"
            class="fa-solid"></i>
        </button>
      </div>



    </div>

    <div class="d-flex btn-group p-1">

      <button class="btn btn-sm btn-outline-dark w-25 py-2" (click)="changeScreen()">
        <i class="fa-solid fa-arrow-left"></i> acessar
      </button>

      <button class="btn btn-sm btn-success w-75 py-2">
        Salvar cadastro
      </button>

    </div>



  </div>

  <div class="out-footer">Loginadv v1.0.0</div>

</div>